<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Winner !!</h1>
    <p class="text-center">Congratulations on beating the game! You won with the number <%= @user_number%> </p>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="/" role="button">Play Again</a></p>
  </div>
</div>

<!-- <div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Winner !!</h1>
    <p class="text-center">Congratulations on beating the game! You won with the number <%= @user_number%> </p>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="/" role="button">Play Again</a></p>
  </div>
</div> -->
